form.vote
  label
    input[type="radio"]
      display: none
      
      // The checked button gets underlined
      &:checked + div
        text-decoration: underline
    
    div
      cursor: pointer
