doctype html
html(lang="de")
  head
    title Olympia in Hamburg
    link(rel="stylesheet" href="/app.css")
    script(src="/app.js")

    if process.env.NODE_ENV != 'production'
      script.
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35728/livereload.js?snipver=1"></' + 'script>')

    block head
  body
    block body
